/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
}

.rc-table-content {
  border: 1px solid black;
  border-right: 0;
  border-bottom: 0;
}

.rc-table td, .rc-table th {
  border: 1px solid black;
  border-top: 0;
  border-left: 0;
}

.recharts-brush-slide {
  background-color: black;
}

.animate-underline {
  position: relative;
  color: white;
  text-decoration: none;
}
  
.animate-underline:hover {
  color: white;
}
  
.animate-underline::after {
  content: "";
  position: static;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.animate-underline:hover::after {
  transform: scaleX(1);
}

.h-menu-off {
  height: 0;
  font-size: 0;
}

.h-menu-off>* {
  display: none;
}
  
  