/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
}

.main-container {
  min-height: calc(100vh - 4rem - 4rem);
}

.bg-dark00-accordion {
  background-color: rgb(31, 31, 31) !important;
}

.bg-dark01-accordion {
  background-color: rgb(46, 46, 46) !important;
}

.rc-table-content {
  border: 1px solid black;
  border-right: 0;
  border-bottom: 0;
}

.rc-table td, .rc-table th {
  border: 1px solid black;
  border-top: 0;
  border-left: 0;
}

.recharts-brush-slide {
  background-color: black;
}

.h-menu-off {
  height: 0;
  font-size: 0;
}

.h-menu-off>* {
  display: none;
}
  
.leaderboard {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.leaderboard td, .leaderboard th {
  border: 1px solid black;
  padding: 8px;
}

.leaderboard tr:nth-child(even){
  @apply bg-dark
}

.leaderboard tr:hover {
  @apply bg-function transition-colors;
}

.leaderboard th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  
  @apply bg-dark
}